<div class="col-md-9">

    <h2>Table name: {{ currentTable }}</h2>
    <br>
    {% if tableContent %}
    <table class="table table-bordered">
        <tr>
            {% for key,item in tableContent[0] %}
            <th><a href="?sort_by={{ key }}&sort_type={{ sortType }}">{{ key }}</a></th>
            {% endfor %}
        </tr>
        {% for tableContentRow in tableContent %}
        <tr>
            {% for tableContentRowItem in tableContentRow %}
            <td>{{ tableContentRowItem }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h4>Rows not found in {{ currentTable }}</h4>
    {% endif %}
    <hr>
</div>